<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todolist</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Welcome to Todolist</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.title}"></td>
                <td>2025/08/22</td>
                <td>石破茂</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
